.singleInputWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.myLabel {
  text-align: left;
  font-weight: bold;
}
.inputWrapper {
  display: inline-block;
}
.errorWrapper {
  color: #ff604f;
  display: block;
}
