$progress-bar-color: #555555;
.wrapper {
  color: $progress-bar-color;
  .progressBarTitle {
    font-size: 0.9rem;
    color: $progress-bar-color;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  .progressBarWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    .progressBar {
      width: 80%;
    }
    .progressBarLabel {
      width: 20%;
      text-align: left;
      margin: 0;
      padding: 0;
      font-size: 0.9rem;
      padding-left: 1.5rem;
    }
  }
}
